#![enable(implicit_some)]
Container(
    transform: (
        id: "inventory",
        anchor: MiddleLeft,
        pivot: MiddleLeft,
        x: 100.,
        width: 600.,
        height: 40.,
    ),
    background: NineSlice(
        x_start: 0,
        y_start: 0,
        width: 60,
        height: 60,
        left_dist: 20,
        right_dist: 20,
        top_dist: 20,
        bottom_dist: 20,
        tex: File("texture/box-border.png", ("IMAGE", ())),
        texture_dimensions: (60, 60),
    ),
    children: [
        Label(
            transform: (
                id: "item-list",
                stretch: XY(x_margin: 26., y_margin: 0., keep_aspect_ratio: false),
            ),
            text: (
                text: "",
                align: MiddleLeft,
                line_mode: Wrap,
                font: File("font/PxPlus_IBM_EGA8.ttf", ("TTF", ())),
                font_size: 30.,
                color: (1.0, 1.0, 1.0, 1.0),
            ),
        ),
    ],
)