(
  axes: {},
  actions: {
    // Movement keys
    Move(N):  [[Key(W)], [Key(Up)]],
    Move(W):  [[Key(A)], [Key(Left)]],
    Move(S):  [[Key(S)], [Key(Down)]],
    Move(E):  [[Key(D)], [Key(Right)]],
    Move(NW): [[Key(Q)]],
    Move(SW): [[Key(Z)]],
    Move(SE): [[Key(C)]],
    Move(NE): [[Key(E)]],

    // Action keys
    PickUp: [[Key(G)]],
    OpenInventory: [[Key(I)], [Key(B)]],
    Cancel: [[Key(Escape)]],
  },
)