(
  axes: {},
  actions: {
    // Movement keys
    MoveN: [[Key(W)], [Key(Up)]],
    MoveW: [[Key(A)], [Key(Left)]],
    MoveS: [[Key(S)], [Key(Down)]],
    MoveE: [[Key(D)], [Key(Right)]],
    MoveNW: [[Key(Q)]],
    MoveSW: [[Key(Z)]],
    MoveSE: [[Key(C)]],
    MoveNE: [[Key(E)]],

    // Action keys
    PickUp: [[Key(G)]],
  },
)