(
  axes: {},
  actions: {
      N: [[Key(W)], [Key(Up)]],
      W: [[Key(A)], [Key(Left)]],
      S: [[Key(S)], [Key(Down)]],
      E: [[Key(D)], [Key(Right)]],
      NW: [[Key(Q)]],
      SW: [[Key(Z)]],
      SE: [[Key(C)]],
      NE: [[Key(E)]],
  },
)